.navbar{


    
}
.design{

width: fit-content;
margin-top: x;

    
}

.text-color{

    color: aliceblue;
}
.components{


    
    display: flex;
}
.product{

    width: 70%;
    margin-left: 20px;
    margin-right: 10px;
    border-right: 1px solid lightblue;
}